.back{
    background: url(../img/back.jpg) center / cover;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.path{
    background: var(--path);
    min-height: 80vh;
}
@media (max-width: 576px){
    .path{
        width: 300px;
    }
    .input{
        width: 200px;
    }
    .cars{
        width: 270px;
    }
}
@media (min-width: 576px) {
    .path {
        width: 546px;
    }
    .input{
        width: 220px;
    }
    .cars{
        width: 516px;
    }
  }
  
  @media (min-width: 768px) {
    .path {
        width: 738px;
    }
    .input{
        width: 310px;
    }
    .cars{
        width: 718px;
    }
  }
  
  @media (min-width: 992px) {
    .path {
        width: 962px;
    }
    .input{
        width: 400px;
    }
    .cars{
        width: 932px;
    }
  }
  
  @media (min-width: 1200px) {
    .path {
        width: 1170px;
    }
    .input{
        width: 337.5px;
    }
    .cars{
        width: 1140px;
    }
  }


.inputs{
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}
.input{
    margin: 15px 15px;
    height: 25px;
}
.cars{
    margin: 10px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.Car{
    background-color: var(--white);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carinfo{
    width: 90%;
    height: 90%;
}