.back{
    background: url(../../../public/back.jpg) center / cover;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.path{
    background: var(--path);
    min-height: 80vh;
}
@media (max-width: 576px){
    .path{
        width: 300px;
    }
}
@media (min-width: 576px) {
    .path {
        width: 546px;
    }
  }
  
  @media (min-width: 768px) {
    .path {
        width: 738px;
    }
  }
  
  @media (min-width: 992px) {
    .path {
        width: 962px;
    }
  }
  
  @media (min-width: 1200px) {
    .path {
        width: 1170px;
    }
  }