.back{
    background: url(../img/back.jpg) center / cover;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.path{
    background: var(--path);
    min-height: 80vh;
}
@media (max-width: 576px){
    .path{
        width: 300px;
    }
    .h1{
        font-size: 15px;
    }
    .h2,.ownerinfo,.carfoto{
        font-size: 8px;
    }
}
@media (min-width: 576px) {
    .path {
        width: 546px;
    }
    .h1{
        font-size: 25px;
    }
    .h2,.ownerinfo,.carfoto{
        font-size: 12px;
    }
  }
  
  @media (min-width: 768px) {
    .path {
        width: 738px;
    }
    .h1{
        font-size: 30px;
    }
    .h2,.ownerinfo,.carfoto{
        font-size: 17px;
    }
    
  }
  
  @media (min-width: 992px) {
    .path {
        width: 962px;
    }
    .h1{
        font-size: 35px;
    }
    .h2,.ownerinfo,.carfoto{
        font-size: 20px;
    }
    
  }
  
  @media (min-width: 1200px) {
    .path {
        width: 1170px;
    }
    .h1{
        font-size: 40px;
    }
    .h2,.ownerinfo,.carfoto{
        font-size: 25px;
    }
  }
.infoheader{
    width: 100%;
    min-height: 24vh;
}
.carheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.owner{
    display: flex;
    align-items: center;
    margin: 20px;
    
}
.img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--black);
    margin-right: 150px;
}
.infobody{
    display: flex;
}
.parametrs{
    margin: 20px;
    width: 100%;
}
.carfoto{
    width: 100%;
    min-height: 24vh;
    margin: 20px;
}
